@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --work : hsl(15, 100%, 70%);
    --play : hsl(195, 74%, 62%);
    --study : hsl(348, 100%, 68%);
    --exercice : hsl(145, 58%, 55%);
    --social : hsl(264, 64%, 52%);
    --self : hsl(43, 84%, 65%);
    --background : hsl(226, 43%, 10%);
    --section : hsl(235, 46%, 20%);
    --person : rgb(87, 70, 234);
    --faded : hsl(236, 100%, 87%);
}


*{
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}

main {
    padding: 1rem;
    background-color: var(--background);
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    "title-section"
    "Work"
    "Play"
    "Study"
    "Exercice"
    "Social"
    "Self_Care";
}


article {
    border-radius: 1rem;
}

article:nth-child(1) {
    grid-area: title-section;
    background-color: var(--section);
}

article:nth-child(2) {
    grid-area: Work;
    background-color: var(--work);
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
article:nth-child(3) {
    grid-area: Play;
    background-color: var(--play);
    background-image: url(images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
article:nth-child(4) {
    grid-area: Study;
    background-color: var(--study);
    background-image: url(images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
article:nth-child(5) {
    grid-area: Exercice;
    background-color: var(--exercice);
    background-image: url(images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
article:nth-child(6) {
    grid-area: Social;
    background-color: var(--social);
    background-image: url(images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
article:nth-child(7) {
    grid-area: Self_Care;
    background-color: var(--self);
    background-image: url(images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 15%;
    background-color: var(--section);
    border-radius: inherit;
    padding: 1.75rem;
}


#person {
    font-size: 1em;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    background-color: var(--person);
    height: 7rem;
}

#person div:first-child {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

#profile_picture {
    width: 4rem;
    height: 4rem;
    background-image: url(images/image-jeremy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-radius: 50%;
    border: 0.17rem solid white;

}

#person div:last-child {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}

#report {
    font-size: 0.65rem;
}

.selector p {
    font-size: 0.8rem;
    color: var(--faded);
}

.selector p:hover {
    color: white;
    cursor: pointer;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
}

.three-points_icon {
    display: flex;
    align-items: center;
    justify-content:end;
}

.Daily {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 0.85rem;
}

.actual {
    font-size: 1.25rem;
}

.previous {
    font-size: 0.7rem;
    color: var(--faded);
}

/* Later I will toggle the display to be flex with JS*/
.Weekly {
    grid-column: span 2;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.Monthly {
    grid-column: span 2;
    display: none;
    justify-content: space-between;
    align-items: center;
}


@media (min-width: 700px) {

    
}